<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand" href="index.html">Mother Touch <span>Home Care</span></a> -->
        <a href="index.html">
            <img src="assets/images/MTHC_logo_2.png" class="logo-img" alt="Mother Touch Home Care Logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav"
            aria-label="Toggle navigation">

            <svg class="hamburger" viewBox="0 0 100 100" width="34">
                <line class="line top" x1="20" y1="30" x2="80" y2="30" />
                <line class="line middle" x1="20" y1="50" x2="80" y2="50" />
                <line class="line bottom" x1="20" y1="70" x2="80" y2="70" />
            </svg>

        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link nav-cta" href="contact.html">Book Free Assessment</a></li>
            </ul>
        </div>
    </div>
</nav>